<%= form_for(@note, html: { class: "edit_post form-inline" }) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="has-error">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul class="list-unstyled">
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-sm-2 control-label' %><br>
    <%= f.text_field :title, :class => 'col-sm-10 form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :content, :class => 'col-sm-2 control-label' %><br>
    <%= f.text_area :content, :class => 'col-sm-10 form-control' %>
    <p class="help-block">Markdown format</p>
  </div>
  <div class="actions">
    <% if not @content.nil?  %>
      <% link_to 'Preview', preview_path(@content) %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
