<p id="notice"><%= notice %></p>
<div class="col-md-12">
<h1>Listing Notes</h1>
</div>
<div class="col-md-4"></div><div class="col-md-4">
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <% if admin? -%>
        <th>Author's E-mail</th>
      <% end -%>
      <th><%= link_to 'Flesch-Kincaid', 'https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests' %> Readability score</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note, {:title => Redcarpet::Markdown.new(Redcarpet::Render::StripDown).render(note.content) } %></td>
        <% if admin? -%>
          <td><%= note.user.email %></td>
        <% end -%>
        <td><%= 
        renderer = Redcarpet::Markdown.new(Redcarpet::Render::StripDown)
        score renderer.render(note.content) %>
        <td><%= link_to 'pdf', "notes/#{note.id}.pdf" %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %></div><div class="col-md-4"></div>
