<div class="alert-info" role="alert"><p id="notice"><%= notice %></p></div>
<div class="col-md-12 panel">
  <div class="panel-heading">
    <h1>
      <%= @note.title %>
    </h1>
  </div>

  <div class="panel-body">
    <%=
     markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
                                        no_intra_emphasis: true,
                                        fenced_code_blocks: true,
                                        disable_indented_code_blocks: true)
     markdown.render(@note.content).html_safe %>
  </div>
</div>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
