<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url:
  registration_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
	Email: <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

  <div class="field">
    Password<% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %>: 
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="field">
	Confirm Password:
    <%= f.password_field :password_confirmation, autocomplete: "off",
    :class => 'form-control' %>
  </div>

  <div class="actions">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
