    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/notes">Notes</a>
          <div class="DocumentList">
            <ul class="list-inline">
          <% unless user_signed_in? %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'Register', new_user_registration_path %></li>
          <% else %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to 'User Profile', edit_user_registration_path %></li>
        <% end %>
            </ul>
          </div><!--/.list-inline-->
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 well well-sm" style=".panel-body { background: #A9A9A9; }">
        Ever wanted to get something off your chest? <a href="/users/sign_up">Create a username</a> and <a href="/users/sign_in">blog</a> through <a href="http://notes.d8u.us">the public web</a> or <a href="http://7mwjs3vzq3zxccvj.onion">the dark web</a>. Either way, it's the <a href="http://hasan.d8u.us/deepweb.html">same data and same protection</a>. Feature suggestions? Send them to the <a href="mailto:hd1+notes@jsc.d8u.us">author</a>. Complaints go <a href="mailto:hd1+notesProblems@jsc.d8u.us">here</a>. Use <a href="http://www.gnupg.org">GNU Privacy Guard</a> with <a href="http://hasan.d8u.us/gpg.asc">this key</a>, if your issue is of a sensitive nature.
    </div>
    <div class="col-md-4"></div>
