<h2 class="form-signin-heading">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <div class="field">
    Email: <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

  <div class="field">
    Password: <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
<% end %>
<%= render "devise/shared/links" %>
