.col-centered{ float: none; margin: 0 auto; }
div.donation { margin-left: 0px; position: relative; }
div.thanks { margin-left: 0px; margin-top: 10px; }
input { -webkit-border-radius: 5px; /*For Safari, etc. */ -moz-border-radius: 5px; /*For Mozilla, etc. */ border-radius: 5px; }// CSS3 Feature
form { display: inline; }
div.container-fluid a { color: #b0e0e6; }
a:visited { text-decoration:strikethrough; }

