<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap.min', "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'application',"data-turbolinks-track" => true %>
  <style>
    body { padding-top: 70px; }
  </style>
</head>
<body>
<div class="container-fluid">
  <ul class="hmenu">
    <%= render 'layouts/user_auth_items' %>
  </ul>
    <%= yield %>
  <div id="donation" class="row col-lg-12">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <%= hidden_field_tag 'cmd', '_s-xclick' %>
      <%= hidden_field_tag 'hosted_button_id', 'WGKTQ8EVMA73G' %>
      <%= image_submit_tag asset_path('btn_buynow_LG.png'), {width: 102, alt:'Donate with PayPal' } %>
    </form>
    <script src="http://coinwidget.com/widget/coin.js"></script> 
    <a href="bitcoin:1A5ZKv3uqfLxQ3HHUCbA2JDE4R52mUdKaD?amount=0.25&message=for%20notes" title="Donate using bitcoin to address 1A5ZKv3uqfLxQ3HHUCbA2JDE4R52mUdKaD"><img src="http://blog.ziftr.com/files/2015/05/Bitcoin_Digital_Currency_Logo.png" width="102" height="103" alt="donate anonymously"></a>
<script id='fba8a6s'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=hdiwan&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=103;f.width=102;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fba8a6s');</script>
    </a> 
  </div> 
  <div id="thanks" class="row col-lg-12"> 
    <% if RUBY_PLATFORM.to_s =~ /openbsd/ then %>
      <a href="https://www.openbsd.org"><%= image_tag 'powered.png', {width: 102, alt: 'Developed using OpenBSD' } %></a>&nbsp;
    <% else %>
      <%= link_to image_tag('https://www.netbsd.org/images/powered-by-NetBSD.png', {width: 102, alt: 'Developed using NetBSD' }), 'http://www.netbsd.org'%>&nbsp;
    <% end %>
    <a href="http://www.postgresql.org"><img src="http://www.postgresql.org/files/community/propaganda/95x51_4.gif" alt="Powered by Postgresql"/></a>&nbsp;
    <a href="http://www.rubyonrails.org"><img src="http://i.imgur.com/rgP7GGW.png" alt="Developed with rails"/></a>
  </div>
</div>
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.3.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>

</body>
</html>
